<div class="page-container">
    <h1 class="page-title">Create Account</h1>

    <div class="card"> 

        <form (ngSubmit)="createAccount()">
            <div class="form-group">
                <label for="account_name">Account Name</label>
                <input id="account_name" [(ngModel)]="name" name="account_name" required />

            </div>

            <button type="submit" class="btn btn-primary">Create Account</button>

            <p *ngIf="message">{{ message }}</p>
        </form>
    </div>
</div>
