<div class="page-container">
    <h1 class="page-title">Withdraw</h1>

    <div class="card"> 

        <form (ngSubmit)="submitWithdraw()">
            <div class="form-group">
                <label for="account_id">Account ID</label>
                <input type="text" id="account_id" [(ngModel)]="account_id" name="account_id" required />
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" id="amount" [(ngModel)]="amount" name="amount" required />
            </div>

            <button type="submit" class="btn btn-primary">Submit Withdraw</button>

            <p *ngIf="message">{{ message }}</p>
        </form>
    </div>
</div>
